.task-list{
    width:30%;
    height:auto;
    min-height:400px;
    background-color:rgb(203, 204, 205);
    padding:5%;

}

.task{

}

.align-left{
    float:left;
    padding-left:3%;
}

.align-center{
    text-align:center;
}

.align-right{
    text-align:right;
    padding-right:3%;
}

.avatar img{
    min-width:300px;
    max-width:300px;

}

@media screen and (max-width: 1000px) {
  .avatar img{
    width:100%;
  }

  .col, .align-right{
      text-align:center;

  }

  .col{
      min-width:100%;
  }

}
